
main{
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    border-radius: 7px;
    margin: 10px;
}
.container-fluid{
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}
#figure{
    background-color: white;
    margin: 0 10px 50px 10px;
    text-align: center;
}

#title{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

main p{
    text-align: center;
}

ul{
    text-align: left;

}
li{
    margin-bottom: 20px;
}
.liste{
    display: flex;
    justify-content: center;
}

#img-caption{
    padding: 10px 0 20px 0;
}

#bare{
    text-decoration: none;
    position: relative;
    left: 20px;
    top: 10px;
}
header img{
    margin-left: 20px;
    margin-bottom: -30px;
}